{
	"env": {
		"es2021": true,
		"node": true,
		"jest": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaVersion": "latest",
		"sourceType": "module",
		"project": ["tsconfig.json"],
		"tsconfigRootDir": "."
	},
	"plugins": [
		"@typescript-eslint"
	],
	"rules": {
		"no-mixed-spaces-and-tabs": 1,
        "no-fallthrough": 0,
        "no-constant-condition": 1,
        "no-empty": 0,
        "no-unreachable": 1,
        "no-unsafe-finally": 1,
        "no-ex-assign": 1,
        "no-case-declarations": 0,
        "no-inner-declarations": 1,
        "no-prototype-builtins": 1,
        "no-cond-assign": 1,
        "eqeqeq": 0,
        "one-var": 0,
        "one-var-declaration-per-line": 0,
        "no-multi-spaces": 1,
        "no-eval": 2,
        "no-implied-eval": 2,
        "quotes": [
            1,
            "single",
            {
                "allowTemplateLiterals": true,
                "avoidEscape": true
            }
        ],
        "vars-on-top": 1,
		"no-console": [
			0
		],
		"@typescript-eslint/no-unused-vars": ["error"],
		"no-unused-vars": "off",
		"no-undef": [
			2
		],
		"semi": [
			1,
			"always"
		],
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-empty-function": "off"
	},
	"root": true
}
